@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@import "tailwindcss";

@theme {
  --color-lightblue: #d0d6f9;
  --color-darkblue: #0b0d17;
  --color-white: #ffffff;

  --spacing-*: initial;
  --spacing: 1px;

  --font-bellefair: "Bellefair", serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;

  --text-4xl: 9rem;
  --text-3xl: 6.25rem;
  --text-2xl: 3.5rem;
  --text-xl: 2rem;
  --text-lg: 1.75rem;
  --text-md: 1.425rem;
  --text-sm: 1.125rem;
  --text-xs: 0.875rem;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }
  body{
    @apply min-h-screen font-sans text-md bg-darkblue text-white
  }
  img,
  picutre {
    @apply block max-w-full
  }
  h1{
    @apply font-barlow-condensed uppercase font-light tracking-[2px] sm:tracking-[4px] text-md md:text-lg
  }
  h2{
    @apply font-bellefair uppercase text-white
  }
  section{
    @apply transform-content delay-1000 ease-in-out
  }
}

@layer components{
  .container{
    @apply max-w-1200 mx-auto 
  }
  .content{
    @apply min-h-screen px-24 pt-30
  }
  .section{
    @apply max-w-1100 mx-auto
  }
}